<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

<!-- 파일의 타이틀이며 프로젝트 명으로 설정한다. -->
  <display-name>day01</display-name>
  
  <!-- 서버의 루트 경로로 이동시 띄워줄 페이지 목록 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 실행하는 서블릿 클래스를 설정하는 태그 -->
  <servlet>
  
  <!-- <servlet>과 <servlet-mapping>을 연결 시켜주는 태그 -->
  	<servlet-name>Hds</servlet-name>
  	
  	<!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 기능을 수행하는 서블릿 클래스 -->
  	<servlet-class>com.koreait.app.MyServlet</servlet-class>
  </servlet>
  
  <!-- 브라우저에서 요청하는 논리적인 서블릿을 설정 -->
  <servlet-mapping>
  
  <!-- <servlet>과 <servlet-mapping>을 연결 시켜주는 태그 -->
  	<servlet-name>Hds</servlet-name>
  	
  	<!-- 클라이언트가 요청하는 논리적인 서블릿 이름(현재 디렉터리를 최상위 디렉터리로 인식) -->
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  <!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 실행하는 서블릿 클래스 설정 -->
  <servlet>
  
  <!-- <servlet>과 <servlet-mapping>을 연결 시켜주는 태그 -->
  	<servlet-name>Index</servlet-name>
  	
  	<!-- 브라우저에서 요청하는 매핑 이름에 대해 실제 수행할 jsp file을 지정하는 태그 -->
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  
  <!-- 브라우저에서 요청하는 논리적인 서블릿을 요청 -->
  <servlet-mapping>
  
  <!-- <servlet>과 <servlet-mapping>을 연결시켜주는 태그 -->
  	<servlet-name>Index</servlet-name>
  	
  	<!-- 클라이언트에서 요청하느 논리적인 서블릿 이름(현재 디렉터리를 최상위 디렉터리로 인식) -->
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 수행할 서블릿 클래스를 설정하는 태그 -->
  <servlet>
  
  <!-- <servlet>과 <servlet-mapping>을 연결시켜주는 태그 -->
  	<servlet-name>Oper</servlet-name>
  	
  	<!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 실행하는 서블릿 클래스 지정 -->
  	<servlet-class>com.koreait.app.Oper</servlet-class>
  </servlet>
  
  <!-- 브라우저에서 요청하는 논리적인 서블릿 이름 -->
  <servlet-mapping>
  
  <!-- <servlet>과 <servlet-mapping>을 연결시켜주는 태그 -->
  	<servlet-name>Oper</servlet-name>
  	
  	<!-- 클라이언트가 요청하는 논리적인 서블릿 이름(현재 디렉터리를 최상위 디렉터리로 인식) -->
  	<url-pattern>/oper</url-pattern>
  </servlet-mapping>
  
  <!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 수행하는 서블릿 클래스 설정하는 태그 -->
  <servlet>
  
  <!-- <servlet>과 <servlet-mapping>을 연결시켜주는 태그 -->
  	<servlet-name>Calc</servlet-name>
  	
  	<!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 실행하는 jsp file을 지정 -->
  	<jsp-file>/calc.jsp</jsp-file>
  </servlet>
  
  <!-- 브라우저에서 요청하는 논리적인 서블릿 설정 -->
  <servlet-mapping>
  
  <!-- <servlet>과 <servlet-mapping>을 연결시켜주는 태그 -->
  	<servlet-name>Calc</servlet-name>
  	
  	<!-- 클라이언트가 요청하는 논리적인 서블릿 이름(현재 디렉터리를 최상위 디렉터리로 인식) -->
  	<url-pattern>/calc</url-pattern>
  </servlet-mapping>
</web-app>